.skills {
  list-style: none;
  grid-area: skills1;
  h3 {
    font-size: 1.5rem;
  }
  width: 100%;
  color: white;
  &.li {
    margin: 20px;
  }
}
.skills2 {
  list-style: none;
  grid-area: skills2;
  h3 {
    font-size: 1.5rem;
  }
  width: 100%;
  color: white;
  &.li {
    margin: 20px;
  }
}
.bar {
  margin: 0.5rem;
  margin-top: 1.5rem;
  background: rgb(17, 17, 17);
  display: block;
  height: 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
  span {
    height: 7px;
    float: left;
    background: #2187e7;
  }
}
.python {
  width: 60%;
  animation: name 2s;
}
.java {
  width: 65%;
  animation: name 2s;
}
.algo {
  width: 70%;
  animation: name 2s;
}
.probsol {
  width: 80%;
  animation: name 2s;
}
.webdev {
  width: 70%;
  animation: name 2s;
}
.js {
  width: 30%;
  animation: name 2s;
}
.gitapi {
  width: 70%;
  animation: name 2s;
}
.cpp {
  width: 55%;
  animation: name 2s;
}
.skill-item {
  width: 80%;
  margin: 20px;
  h4,
  p {
    display: inline;
  }
  p {
    font-weight: 300;
    position: relative;
    float: right;
    top: -20px;
  }
}
@keyframes name {
  0% {
    width: 0;
  }
}
